body {
  margin:0;
  border: solid 6px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border: solid;
  width: 50%;
  border-color: red;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: 'Philosopher', sans-serif;
  font-size: 75px;
  color: black;
}

h2 {
  font-family: 'Philosopher', sans-serif;

}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.My-Skills {
  margin-top: 100px;
}

.top-para {
  font-size: 25px;
  color: #40514e;
}

.first-para {
  padding-bottom: 100px;
  line-height: 2;
  color: #40514e;
}

.second-para {
  padding-bottom: 100px;
  line-height: 2;
  color: #40514e;
}

.third-para {
  padding-bottom: 50px;
  line-height: 2;
  color: #40514e;
}

.top-container {
 background-image: linear-gradient(0deg, white 30%, red 150%);
 position: relative;
 padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.disc {
  text-decoration: underline;

}

.gemini {

}

.red-record {
  margin: 30px;
  width: 125px;
  height: 105px;
  float: left;

}

.dj-540 {
  margin-top: 40px;
  position: relative;
  left: -30px;
  width: 350px;
  height: 350px;
}

.speakers3 {
  position: relative;
  left: 5px;
  margin-top: 75px;
  width: 200px;
  height: 200px;
}

.dj-party {
    padding-top: 0;
    margin: 30px;
    width: 250px;
    height: 165px;
    float: right;
}

.sound-record {
  position: absolute;
  left: 465px;
  top: 215px;
  width: 325px;
  height: 325px;
}
